@model IEnumerable<fa22Team16.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Transaction History</h1>

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Customer"))
    {
        <p>
            <a asp-action="DepositCreate">Make a Deposit</a>
            <a asp-action="WithdrawCreate">Make a Withdrawal</a>
            <a asp-action="TransferCreate">Make a Transfer</a>
        </p>
    }
}


@if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Approved)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Account.AccountNumber)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Approved)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @if (item.Account == null)
                        {
                            @Html.DisplayFor(modelItem => item.StockPortfolio.StockPortfolioID)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Account.AccountNumber)
                        }
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.TransactionID">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



@if (User.Identity.IsAuthenticated)

{
    @if (User.IsInRole("Admin"))
    {
        <h1>Transactions that are not yet approved</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionNum)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comments)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Approved)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Account.AccountNumber)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.Approved == Approved.No)
                    {
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Approved)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    if (item.Account == null)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.StockPortfolio.StockPortfolioID)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Account.AccountNumber)
                        </td>
                    }

                }
                <tr>

                    <td>
                        <a asp-action="ManageDeposit" asp-route-id="@item.TransactionID">Approve Deposit</a> |
                        <a asp-action="Details" asp-route-id="@item.TransactionID">Details</a> |
                        @*<a asp-action="Delete" asp-route-id="@item.TransactionID">Delete</a>*@
                    </td>
                </tr>
            }
                </tbody>
            </table>
        }
}



@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TransactionID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.TransactionID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.TransactionID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
