@model IEnumerable<fa22Team16.Models.StockTransaction>

@{
    ViewData["Title"] = "Stock Transaction";
}

<h1>Stock Transaction</h1>

<div>
    <a asp-action="Create" asp-controller="StockTransaction" class="btn btn-primary">Purchase Stock</a>

    <a asp-action="Delete" asp-controller="StockTransaction" class="btn btn-primary">Sell Stock</a>
</div>

<!--
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfShares)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfShares)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StockTransactionID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StockTransactionID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StockTransactionID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
-->