@model fa22Team16.Models.BankAccount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>
    </dl>
</div>

<h5>Transactions Associated with this Account</h5>
<table class="table table-primary">
    <tr>
        <th>TransactionID</th>
        <th>Amount</th>
        <th>Account</th>
        <th>Type</th>
        <th>Comments</th>
        <th>Approval</th>
    </tr>
    @foreach (Transaction transaction1 in Model.Transactions)
    {
        <tr>
            <td>@Html.DisplayFor(ModelItem => transaction1.TransactionID)</td>
            <td>@Html.DisplayFor(ModelItem => transaction1.Amount)</td>
            <td>@Html.DisplayFor(ModelItem => transaction1.Account.AccountName)</td>
            <td>@Html.DisplayFor(ModelItem => transaction1.Type)</td>
            <td>@Html.DisplayFor(ModelItem => transaction1.Comments)</td>
            <td>@Html.DisplayFor(ModelItem => transaction1.Approved)</td>
        </tr>
    }
</table>

<div>
    @if (User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Edit" asp-route-id="@Model?.BankAccountID">Edit</a>
        </p>
    }
    <a asp-action="Index">Back to List</a>
</div>
