@model IEnumerable<fa22Team16.Models.Dispute>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            <td>
                @Html.DisplayNameFor(model => model.Transaction.Account.appUser.FirstName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Transaction.Account.appUser.LastName)
            </td>
            @*<td>
            @Html.DisplayNameFor(model => model.Transaction.Account.appUser.Id)
        </td>*@
            <td>
                @Html.DisplayNameFor(model => model.Transaction.Amount)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Transaction.TransactionNum)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.CorrectAmount)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.RequestDeleteTransaction)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Status)
            </td>
            </th>
        </tr></thead>
    <tbody>
        @foreach (var item in Model)
        {
            @*if (item.Status == Status.Submitted)
            {*@
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction.Account.appUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction.Account.appUser.LastName)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Transaction.Account.appUser.Id)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Transaction.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction.TransactionNum)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CorrectAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDeleteTransaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>


            @*<td>
            @Html.DisplayFor(modelItem => item.TransactionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrectTransactionAmount)
        </td>*@
            <td>
        </tr>


           



    <td>
        
        <a asp-action="Edit" asp-route-id="@item.DisputeID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.DisputeID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.DisputeID">Delete</a>
    </td>
                }
            </tbody>
</table>
