@model IEnumerable<fa22Team16.Models.Stock>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Stocks Available for Purchase</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<div>
    <a asp-action="Create" asp-controller="StockTransaction" class="btn btn-primary">Purchase Stock</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticker)
                </td>
                <!--Why isn't this working-->
                <td>
                    @Html.DisplayFor(modelItem => item.StockType.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <!--Details page needed?-->
                    <a asp-action="Details" asp-route-id="@item.StockID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
