@model fa22Team16.Models.StockPortfolio

@{
    ViewData["Title"] = "Stock Portfolio";
}

<h1>Stock Portfolio</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Status)
            </td>
        </tr>
    </tbody>

</table>


<!--Total balance-->
<h5>Your Total Balance Is:</h5>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fees)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Value)
            </td>
            <td>
                @Html.DisplayFor(model => model.Fees)
            </td>
        </tr>
    </tbody>
</table>



<!--Cash-Value Portion-->
<h5>Cash-Value of Portfolio:</h5>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StockPortfolioCashBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gains)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.StockPortfolioCashBalance)
            </td>
            <td>
                @Html.DisplayFor(model => model.Gains)
            </td>
            <td>
                @Html.DisplayFor(model => model.Fees)
            </td>
            <td>
                @Html.DisplayFor(model => model.Balance)
            </td>
        </tr>
    </tbody>
</table>



<!--Stock Portion-->
<h5>Your Stocks</h5>
<table class="table">
    <thead>
        <tr>
            <th>
                Stock Name
            </th>
            <th>
                Number of Shares
            </th>
            <th>
                Current Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (StockTransaction stockTransaction in Model.StockTransactions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => stockTransaction.Stock.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => stockTransaction.NumberOfShares)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => stockTransaction.CurrentValue)
                </td>
            </tr>
        }
    </tbody>
</table>

