@model IEnumerable<fa22Team16.Models.StockPortfolio>

@{
    ViewData["Title"] = "Stock Portfolio";
}

<h1>Stock Portfolio</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StockPortfolioID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StockPortfolioID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-action="Edit" asp-route-id="@item.StockPortfolioID">Edit</a> |

                        </li>
                    }
                    <a asp-action="Details" asp-route-id="@item.StockPortfolioID">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
